# API-KEYS

OPENAI_API_KEY=sk-...
LANGSMITH_API_KEY=
EXA_API_KEY=
SERPER_API_KEY=

#cadiem-open-router-api-key = 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
#cadiem-serper-api-key = 1cb5a5bcf7ce6abc716396fc5f0a4e00318b09bf
#cadiem-exa-api-key = 80f7216a-8ad8-42bf-8626-81fbf7c2ff65

# DB-PATHS

DATA_DIR=./data
CHROMA_DIR=./data/chroma
CHECKPOINT_DIR=./data/checkpoints

# MODELS
EMBEDDING_MODEL=text-embedding-3-small


# SCANNING-PATHS
# The following paths are used for indexing and should be set according to your environment
# You can specify multiple paths if needed, separated by commas
# Example: INDEX_ROOTS=["/path/to/index1", "/path/to/index2"]
# Ensure these directories exist before running the indexing script
# If you are using a single path, you can keep it as a list with one element
# Example: INDEX_ROOTS=["/path/to/index"]
INDEX_ROOTS=["/Users/vaibhavyadav/Scan_Copy"]
